absl-py
asgiref
astunparse
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
flatbuffers
gast
google-pasta
grpcio
h5py
idna
joblib
keras
libclang
markdown-it-py
mdurl
ml_dtypes
namex
narwhals
numpy
opencv-python
opt_einsum
optree
packaging
pandas
protobuf
Pygments
python-dateutil
requests
rich
scikit-learn
scipy
setuptools
six
sqlparse
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
wheel
wrapt
